@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Crimson+Pro&family=Parisienne&display=swap");


/* ----------------------------------- navbar */


.bg-color-nav {
    background-color: #fbe7c6a3;
}

.navbar-brand {
    color: #ef929bc2;
    font-family: "Parisienne", cursive;
    font-size: 2.25rem;
    font-weight: 600;
}

/* not sure if this code is written right, ask later to the mentor*/
.navbar-brand:hover {
  color: #ef929bc2;
}

.navbar-nav .nav-link {
    color: #343a40; 
    font-family: "Crimson pro", sans-serif;
    font-size: 1.1rem;
}

@media screen and (min-width: 576px) {
  .navbar-nav {
    margin-left: auto;
    margin-right: 0;
  }
}

@media screen and (min-width: 800px) {
  .navbar-nav {
    margin-left: auto;
    margin-right: 10rem;
}
}

.navbar-menu-icon { 
    font-size: 25px;
    margin-top: 2px;
}

.active-underline {
    border-bottom: 2px solid black;
}

/* ---navbar home page */

.navbar-nav>li>a:hover {
  background-color: #d6cece;
  color: #343a40;
}


/* ----------------------------------- hero image*/

#hero-image {
    background-image: url("../images/background-image.jpg");
    width: 100%;
    height: 60vh; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
} 

@media screen and (min-width: 768px) {
    #hero-image {
      height: 100vh;   
    }
}

@media screen and (min-width: 1200px) {
    #hero-image {
      height: 150vh;   
    }
}

/* in Iphone 5, not sure if looks correct, ask to the mentor*/
#hero-text {
    text-align: center;
    color: white;
    margin: 70px 10px auto 10px;
} 

@media screen and (min-width: 768px) {
    #hero-text > h1 {
    margin: 150px 10px 10px 10px;
 }
}

#hero-text > h1 {
    font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
    #hero-text > h1 {
        font-size: 3.5rem;
 }
}

.bg-opaque {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.48);
}

@media screen and (min-width: 768px) {
    p {
      font-size: 1.2rem;   
    }
}


/* ----------------------------------- subscription input email*/

.subscription-email {
    text-align: center;
    margin-top: 35px;
}

.suscribe-button {
    margin-top: 20px;
    margin-left:0;
}



@media screen and (min-width: 768px) {
    .suscribe-button {
    margin-top: 20px;
    }
}

@media screen and (min-width: 992px) {
    .suscribe-button {
    margin-top: 0px;
    }
}

.subscribe-text-align {
    font-size: 1.1rem;
    padding-right: 0;
}


/* ----------------------------------- horizontal line*/

.block-divider {
    background-color: #ef929bc2;
    width: 10rem;
}

@media screen and (min-width: 992px) {
    .block-divider {
    background-color: #ef929bc2;
    width: 30rem;
    }
}

@media screen and (min-width: 1200px) {
    .block-divider {
    background-color: #ef929bc2;
    width: 50rem;
    }
}

