@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Crimson+Pro&family=Parisienne&display=swap");


 main {
     padding-top: 80px;
 }

/* ----------------------------------- button */
.btn-color {
    color: #000;
    background-color: #eac387;
    border-color: #000;
}

.btn-color:hover,
.btn-color:active,
.btn-color:focus,
.btn-color:active:focus {
    background-color: #dc9429;
    color:#000;
}

.btn-our-selection {
    margin-top: 1.2rem;
}

/* ----------------------------------- navbar */

.navbar {
    position: fixed;
    width: 100%;
}

.bg-color-nav {
    background-color: #fbe7c6;
}

.navbar-brand {
    color: #e8a831b8;
    font-family: "Parisienne", cursive;
    font-size: 2.25rem;
    font-weight: 600;
}

/* not sure if this code is written right, ask later to the mentor*/
.navbar-brand:hover {
  color: #e8a831b8;
}

.navbar-nav .nav-link {
    color: #343a40; 
    font-family: "Crimson pro", sans-serif;
    font-size: 1.1rem;
}

@media screen and (min-width: 576px) {
  .navbar-nav {
    margin-left: auto;
    margin-right: 0;
  }
}

@media screen and (min-width: 800px) {
  .navbar-nav {
    margin-left: auto;
    margin-right: 10rem;
}
}

.navbar-menu-icon { 
    font-size: 25px;
    margin-top: 2px;
}

.active-underline {
    border-bottom: 2px solid black;
}

/* ---navbar home page */

.navbar-nav>li>a:hover {
  background-color: #d6cece;
  color: #343a40;
}


/* ----------------------------------- hero image*/

#hero-image {
    background-image: url("../images/background-image.jpg");
    width: 100%;
    height: 50vh; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
} 

@media screen and (min-width: 768px) {
    #hero-image {
      height: 70vh;   
    }
}

@media screen and (min-width: 992px) {
    #hero-image {
      height: 85vh;   
    }
}

@media screen and (min-width: 1200px) {
    #hero-image {
      height: 100vh;   
    }
}

/* in Iphone 5, not sure if looks correct, ask to the mentor*/
#hero-text {
    text-align: center;
    color: white;
    margin: 70px 10px auto 10px;
} 

@media screen and (min-width: 768px) {
    #hero-text > h1 {
    margin: 150px 10px 10px 10px;
 }
}

#hero-text > h1 {
    font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
    #hero-text > h1 {
        font-size: 3.5rem;
 }
}

.bg-opaque {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.48);
}

@media screen and (min-width: 768px) {
    #hero-text p {
      font-size: 1.2rem; 
      font-weight: 500;  
    }
}


/* ----------------------------------- subscription input email*/

.subscription-email {
    text-align: center;
    margin-top: 35px;
}

.suscribe-button {
    margin-top: 20px;
    margin-left:0;
}



@media screen and (min-width: 768px) {
    .suscribe-button {
    margin-top: 20px;
    }
}

@media screen and (min-width: 992px) {
    .suscribe-button {
    margin-top: 0px;
    }
}

.subscribe-text-align {
    font-size: 1.1rem;
    padding-right: 0;
}


/* ----------------------------------- horizontal line*/

.block-divider {
    background-color: #ef929bc2;
    width: 10rem;
    margin: 3.5rem auto 3.5rem auto;
}


/* ----------------------------------- explanation patisserie and viennoiserie*/

.info-pastry {
    text-align: center;
    margin-top: 20px;
    font-size: 1.1rem; 
}

@media screen and (min-width: 992px) {
    .info-pastry {
    margin-top: 5.5rem;
    }
}

.info-pastry h3 {
    margin-bottom: 20px;
}

.info-pastry p {
    text-align: justify;
    margin: auto 10px auto 10px;
}


.margin-viennoiserie {
    margin-top: 20px;
}

